extends inc/header.pug

block content
  section.content.packrobot-page.packrobot-versions.pb-3
    .jumbotron.jumbotron-fluid
      .container
        h3.display-5.text-center
          | Choose a
          b  CleverBox
          |  version
    .container
        .product-select.row.d-flex.justify-content-start.align-items-center
          article.col-md-4.col-sm-6.col-xs-12
            .slide.position-relative.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
              a.version.btn.btn-primary.text-center.position-absolute(href="packrobot.html") 18.5
              select#lang-select.lang-select.custom-select.position-absolute(name='lang-select')
                option(value='english') ENGLISH
                option(value='french') FRENCH
                option(value='spanish') SPANISH
              p.slide-title Thank you for using CleverBox
              img.d-block(src='images/like-heart-symbo-nobg.png', alt='')
          article.col-md-4.col-sm-6.col-xs-12
            .slide.position-relative.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
              a.version.btn.btn-primary.text-center.position-absolute 18.3
              select#lang-select.lang-select.custom-select.position-absolute(name='lang-select')
                option(value='english') ENGLISH
                option(value='french') FRENCH
                option(value='spanish') SPANISH
              p.slide-title Thank you for using CleverBox
              img.d-block(src='images/like-heart-symbo-nobg.png', alt='')
          article.col-md-4.col-sm-6.col-xs-12
            .slide.position-relative.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
              a.version.btn.btn-primary.text-center.position-absolute 18.1
              select#lang-select.lang-select.custom-select.position-absolute(name='lang-select')
                option(value='english') ENGLISH
                option(value='french') FRENCH
                option(value='spanish') SPANISH
              p.slide-title Thank you for using CleverBox
              img.d-block(src='images/like-heart-symbo-nobg.png', alt='')
          article.col-md-4.col-sm-6.col-xs-12
            .slide.position-relative.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
              a.version.btn.btn-primary.text-center.position-absolute 17.5
              select#lang-select.lang-select.custom-select.position-absolute(name='lang-select')
                option(value='english') ENGLISH
                option(value='french') FRENCH
                option(value='spanish') SPANISH
              p.slide-title Thank you for using CleverBox
              img.d-block(src='images/like-heart-symbo-nobg.png', alt='')
          article.col-md-4.col-sm-6.col-xs-12
            .slide.position-relative.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
              a.version.btn.btn-primary.text-center.position-absolute 17.3
              select#lang-select.lang-select.custom-select.position-absolute(name='lang-select')
                option(value='english') ENGLISH
                option(value='french') FRENCH
                option(value='spanish') SPANISH
              p.slide-title Thank you for using CleverBox
              img.d-block(src='images/like-heart-symbo-nobg.png', alt='')
          article.col-md-4.col-sm-6.col-xs-12
            .slide.position-relative.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
              a.version.btn.btn-primary.text-center.position-absolute 17.1
              select#lang-select.lang-select.custom-select.position-absolute(name='lang-select')
                option(value='english') ENGLISH
                option(value='french') FRENCH
                option(value='spanish') SPANISH
              p.slide-title Thank you for using CleverBox
              img.d-block(src='images/like-heart-symbo-nobg.png', alt='')
