extends inc/header.pug

block append config
  - var title = "Comparing version 18.5 to 18.6"
  - var body_class = "product-page"

block content
  include inc/mobile-aside

  div.container-fluid.packrobot-page
    include inc/aside

    section.content.products.col-lg-8.col-md-8.col-sm-12.col-xs-12.offset-sm-0.offset-xs-0.offset-md-3.pt-3
      include inc/packrobot-header
      main.w-100.position-relative(data-ride='carousel')
        .row
          article.col-md-6.col-xs-12.col-sm-12
            h4.version.text-center 18.5
            .slide.position-relative.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
              select#lang-select.lang-select.custom-select.position-absolute(name='lang-select')
                option(value='english') ENGLISH
                option(value='french') FRENCH
                option(value='spanish') SPANISH
              h4.slide-title Thank you for using PackRobot
              img.d-block(src='images/like-heart-symbo-nobg.png', alt='')
          article.col-md-6.col-xs-12.col-sm-12
            h4.version.text-center 18.6
            .slide.position-relative.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
              select#lang-select.lang-select.custom-select.position-absolute(name='lang-select')
                option(value='english') ENGLISH
                option(value='french') FRENCH
                option(value='spanish') SPANISH
              h4.slide-title Thank you for using PackRobot
              img.d-block(src='images/like-heart-symbo.png', alt='')
