include inc/header

section.content.home-content
  .jumbotron.jumbotron-fluid
    .container
      h3.display-5.text-center Choose a device
  .product-select.row.d-flex.justify-content-center.align-items-center
    .product.col-lg-4.col-md-4.col-sm-12.col-xs-12.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
      h3.home-title.display-5.text-center PackRobot
      img(src='images/PackRobot.png', alt='PackRobot')
      a.btn.btn-primary.d-block(href="packrobot-versions.html") CHOOSE
    .product.col-lg-4.col-md-4.col-sm-12.col-xs-12.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
      h3.home-title.display-5.text-center CleverBox
      img(src='images/CleverBox.png', alt='CleverBox')
      a.btn.btn-primary.d-block(href="cleverbox-versions.html") CHOOSE
    .product.col-lg-4.col-md-4.col-sm-12.col-xs-12.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
      h3.home-title.display-5.text-center CleverFlex
      img(src='images/Flex.png', alt='CleverFlex')
      a.btn.btn-primary.d-block(href="cleverflex-versions.html") CHOOSE

include inc/footer