section.aside.aside-large.d-none.position-fixed.col-lg-2.col-md-2
  .top.d-flex.flex-nowrap.justify-content-around.align-items-center
    .col-md-5.col-lg-5
      img(src='images/PackRobot.png')
    .version.col-md-7.col-lg-7.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center
      span patch version
      select.number(name="version-number")
        option(value="18.5") 18.5
        option(value="18.3") 18.3
        option(value="18.1") 18.1
        option(value="17.5") 17.5
 

  .middle
    select#courier.custom-select.mb-2(name='courier')
      option(value='courier_in') Courier IN
      option(value='')
    p.error-cases.clearfix
      | Show error cases 
      input.float-right(type='checkbox')
  .list
    h6.head-screens.pb-1 SCREENS
    ul.screens
      li 
        a(href="#") Screensave
      li
        a(href="#") Insert Code
      li 
        a(href="#") Insert PIN
      li 
        a(href="#") Courier IN
      li 
        a(href="#") Bringing Parcel
      li 
        a(href="#") Door Opening
      li 
        a(href="#") Insert Parcel
      li 
        a(href="#") Parcel Inserted
      li 
        a(href="#") Door Closing
      li 
        a(href="#") Measuring Parcel
      li 
        a(href="#") Door Closing
      li.footer-thanks.pb-1 Thank You
