block config
  - var title = ""

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Sly Stan
    link(rel='shortcut icon', href='./favicon.ico')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/unslider.css')
    link(rel='stylesheet', href='css/unslider-dots.css')
    link(rel='stylesheet', href='css/style.css')
  body
    nav.header.navbar.position-relative.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='index.html')
        img.logo(src="images/cleveron-logo-white.png")
        span.brand  Version History Tool
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-control='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='packrobot-versions.html') PackRobot
          li.nav-item
            a.nav-link(href='cleverbox-versions.html') CleverBox
          li.nav-item
            a.nav-link(href='cleverflex-versions.html') CleverFlex
        a.user-icon.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-center(href='#')
          i.fa.fa-user
        ul.account-drop.position-absolute.list-group.d-none
          li.list-group-item
            a(href="#") Sign In
          li.list-group-item
            a(href="#") Sign Up
          li.list-group-item
            a(href="index.html") Visitors

  
    block config
      - var title = ""
    
    block content

    script(src='js/jquery.min.js')
    script(src='js/bootstrap.bundle.min.js')
    script(src='js/unslider-min.js')
    script(src='js/main.js')