//- Aside Mobile Display
nav.aside-mob.d-none.navbar.navbar-expand-lg.navbar-light.bg-light
  .navbar-brand
    img.version-img(src="images/PackRobot.png")
    span.brand  patch version
    select.number(name="version-number")
      option(value="18.5") 18.5
      option(value="18.3") 18.3
      option(value="18.1") 18.1
      option(value="17.5") 17.5

  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#asideNavbar', aria-control='asideNavbar', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #asideNavbar.collapse.navbar-collapse
    .list
      h6.head-screens.pb-1 SCREENS
      ul.screens.list-group
        li.nav-item.list-group-item 
          a(href="#") Screensave
        li.nav-item.list-group-item
          a(href="#") Insert Code
        li.nav-item.list-group-item 
          a(href="#") Insert PIN
        li.nav-item.list-group-item 
          a(href="#") Courier IN
        li.nav-item.list-group-item 
          a(href="#") Bringing Parcel
        li.nav-item.list-group-item 
          a(href="#") Door Opening
        li.nav-item.list-group-item 
          a(href="#") Insert Parcel
        li.nav-item.list-group-item 
          a(href="#") Parcel Inserted
        li.nav-item.list-group-item 
          a(href="#") Door Closing
        li.nav-item.list-group-item 
          a(href="#") Measuring Parcel
        li.nav-item.list-group-item 
          a(href="#") Door Closing
        li.nav-item.list-group-item.w-100.footer-thanks.pb-1 Thank You

  form.form-inline
    select.form-control.mr-1.custom-select(name="courier")
      option(value='courier_in') Courier IN
      option(value='')
    span.error-cases.clearfix
      |  Show error cases
      input.float-right(type="checkbox")